{% extends 'base.html' %}
{% block content %}


    
    
    <h1 class = "recipe-header">{{text}}</h1>
    {% if message %}
     <h3 class= "all_fields_message">{{message}}</h3>
     {%endif%}

    <div class= "row m-0 p-2 mt-3 mb-4">
    <div class= "offset-2 col-8 email-form">
        <div class= "row no-gutters">
         {% if not session.get('logged_in') %}
            <div class="col-12">
                <p class="user-msg">Please Login to add recipe</p>
            </div>
            {% endif %}
        </div>
         
    </div>
</div>